<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
<body>
    <h1>url shortener</h1>
    <% if (locals.id) { %>
        <p>URL Generated : http://localhost:8090/url/call/<%= id %></p>
    <% } %>
    <form action="/url/" method="post">
        <label for="">Enter your original URL</label>
        <input type="text" name="redirectURL" placeholder="http://exampal.com">
        <button type="submit">genrate</button>
    </form><br><br>
    <% if (locals.urls) { %>
        <table>
            <thead>
                <th>S. No</th>
                <th>ShortID</th>
                <th>redirectURL</th>
                <th>Clicks</th>
            </thead>

            <tbody>
                <% urls.forEach((url,index) => { %>
                    <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.redirectURL %></td>
                    <td><%= url.visitHistory.length %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
</html>